$background-color: #ebe9e9;

.app {
  padding: 40px;
}

.customPlaceholder {
  display: flex;
  justify-content: space-between;
}

.container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}